<h1>
  {{title}} 
</h1>

<hr />

<div style="border: solid 1px;">
  <h4>Stack: Converter</h4>

  <input type="number" [(ngModel)]="stackNumber" name="stackNumber" />
  <button (click)="onTestStack()"> = </button>
  <input type="text" [(ngModel)]="stackResult" readonly name="stackResult" />
  <input type="number" [(ngModel)]="stackBase" name="stackBase" />
</div>

<br />
<div style="border: solid 1px;">
  <h4>Queue: Hot Potato</h4>
  <input type="text" [(ngModel)]="queueUsers" readonly name="queueUsers" />
  <input type="number" [(ngModel)]="queueNumber" name="queueNumber" />
  <button (click)="onTestQueue()"> Go </button>
  <br>
  <input type="text" [(ngModel)]="queueResult" readonly name="queueResult" />
</div>
